USE [master]
GO
/****** Object:  Database [SeriesDB]    Script Date: 11-04-2026 09:29:02 ******/
CREATE DATABASE [SeriesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SeriesDB', FILENAME = N'D:\Program files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SeriesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SeriesDB_log', FILENAME = N'D:\Program files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SeriesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SeriesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SeriesDB]
GO
/****** Object:  Table [dbo].[tbl_ErrorLog]    Script Date: 11-04-2026 09:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ErrorLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[PageName] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Series]    Script Date: 11-04-2026 09:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Series](
	[SeriesId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ReleaseYear] [int] NOT NULL,
	[Genre] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[SeriesApiId] [int] NULL,
	[SeriesType] [nvarchar](50) NULL,
	[SeriesStatus] [nvarchar](50) NULL,
	[MatchStatus] [nvarchar](50) NULL,
	[MatchFormat] [nvarchar](50) NULL,
	[SeriesMatchType] [nvarchar](50) NULL,
	[Gender] [nvarchar](20) NULL,
	[TrophyType] [nvarchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_ErrorLog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_Series] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSeries]    Script Date: 11-04-2026 09:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteSeries]
    @SeriesId INT
AS
BEGIN
    DELETE FROM tbl_Series
    WHERE SeriesId = @SeriesId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSeries]    Script Date: 11-04-2026 09:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertSeries]
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @ReleaseYear INT,
    @Genre NVARCHAR(100),

    @SeriesApiId INT,
    @SeriesType NVARCHAR(50),
    @SeriesStatus NVARCHAR(50),
    @MatchStatus NVARCHAR(50),
    @MatchFormat NVARCHAR(50),
    @SeriesMatchType NVARCHAR(50),
    @Gender NVARCHAR(20),
    @TrophyType NVARCHAR(100),
    @StartDate DATE,
    @EndDate DATE,
    @IsActive BIT
AS
BEGIN
    INSERT INTO tbl_Series 
    (
        Title, Description, ReleaseYear, Genre,
        SeriesApiId, SeriesType, SeriesStatus,
        MatchStatus, MatchFormat, SeriesMatchType,
        Gender, TrophyType, StartDate, EndDate, IsActive
    )
    VALUES
    (
        @Title, @Description, @ReleaseYear, @Genre,
        @SeriesApiId, @SeriesType, @SeriesStatus,
        @MatchStatus, @MatchFormat, @SeriesMatchType,
        @Gender, @TrophyType, @StartDate, @EndDate, @IsActive
    );

    SELECT SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LogError]    Script Date: 11-04-2026 09:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LogError]
    @ErrorMessage NVARCHAR(MAX),
    @StackTrace NVARCHAR(MAX),
    @PageName NVARCHAR(200)
AS
BEGIN
    INSERT INTO tbl_ErrorLog (ErrorMessage, StackTrace, PageName)
    VALUES (@ErrorMessage, @StackTrace, @PageName);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchSeries]    Script Date: 11-04-2026 09:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchSeries]
    @Title NVARCHAR(200) = NULL,
    @ReleaseYear INT = NULL
AS
BEGIN
    SELECT *
    FROM tbl_Series
    WHERE 
        (@Title IS NULL OR Title LIKE '%' + @Title + '%')
        AND (@ReleaseYear IS NULL OR ReleaseYear = @ReleaseYear)
    ORDER BY CreatedDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSeries]    Script Date: 11-04-2026 09:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSeries]
    @SeriesId INT,
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @ReleaseYear INT,
    @Genre NVARCHAR(100),

    @SeriesApiId INT,
    @SeriesType NVARCHAR(50),
    @SeriesStatus NVARCHAR(50),
    @MatchStatus NVARCHAR(50),
    @MatchFormat NVARCHAR(50),
    @SeriesMatchType NVARCHAR(50),
    @Gender NVARCHAR(20),
    @TrophyType NVARCHAR(100),
    @StartDate DATE,
    @EndDate DATE,
    @IsActive BIT
AS
BEGIN
    UPDATE tbl_Series
    SET 
        Title = @Title,
        Description = @Description,
        ReleaseYear = @ReleaseYear,
        Genre = @Genre,

        SeriesApiId = @SeriesApiId,
        SeriesType = @SeriesType,
        SeriesStatus = @SeriesStatus,
        MatchStatus = @MatchStatus,
        MatchFormat = @MatchFormat,
        SeriesMatchType = @SeriesMatchType,
        Gender = @Gender,
        TrophyType = @TrophyType,
        StartDate = @StartDate,
        EndDate = @EndDate,
        IsActive = @IsActive,

        UpdatedDate = GETDATE()
    WHERE SeriesId = @SeriesId;
END;
GO
USE [master]
GO
